arrow==1.2.3
certifi==2023.5.7
chardet==5.1
decorator==5.1.1
praw==7.7.0
prawcore==2.3.0
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
shreddit==6.0.7
backports-abc==0.5
tornado==4.5.1
update-checker==0.18
wheel==0.40.0
appdirs==1.4.3
idna==3.4
urllib3==2.0.3